<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.mapper.auth.AuthMapper">

    <!-- UserId로 사용자 찾기 -->
    <select id="findByUserId" parameterType="Long" resultType="com.ssafy.model.entity.User">
        SELECT user_id AS userId, code_id AS codeId, name, nickname, email, is_deleted AS isDeleted, created_at AS createdAt
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- ProviderId로 사용자 조회 -->
    <select id="findByProviderId" parameterType="string" resultType="com.ssafy.model.entity.User">
        SELECT u.user_id AS userId, u.code_id AS codeId, u.name, u.nickname, u.email,
               u.is_deleted AS isDeleted, u.created_at AS createdAt
        FROM users u INNER JOIN social_accounts s ON u.user_id = s.user_id
        WHERE s.provider_id = #{providerId}
    </select>

    <!-- 신규 회원 가입(유저 테이블) -->
    <insert id="insertUser" parameterType="com.ssafy.controller.auth.AuthRequest$Registration" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO users (code_id, name, nickname, email)
        VALUES (#{codeId}, #{name}, #{nickname}, #{email})
    </insert>

    <!-- 신규 회원 가입(소셜 테이블) -->
    <insert id="insertSocial" parameterType="com.ssafy.model.entity.Social">
        INSERT INTO social_accounts(user_id, provider_id, refresh_token)
        VALUES(#{userId}, #{providerId}, #{refreshToken})
    </insert>

    <!-- 회원 재가입(유저 테이블) -->
    <update id="updateUserForReJoin" parameterType="com.ssafy.controller.auth.AuthRequest$Registration">
        UPDATE users
        SET code_id = #{userInfo.codeId}, name = #{userInfo.name}, nickname = #{userInfo.nickname},
            email = #{userInfo.email}, is_deleted = false, created_at = CURRENT_TIMESTAMP
        WHERE user_id = #{userId}
    </update>

    <!-- 회원 재가입(소셜 테이블) -->
    <update id="updateSocialForReJoin">
        UPDATE social_accounts
        SET refresh_token = #{refreshToken}
        WHERE provider_id = #{providerId}
    </update>

    <!-- Refresh Token 조회 -->
    <select id="findSocialByProviderId" parameterType="String" resultType="com.ssafy.model.entity.Social">
        SELECT user_id AS userId, code_id AS codeId, provider_id AS providerId, refresh_token AS refreshToken
        FROM social_accounts
        WHERE provider_id = #{providerId}
    </select>

    <!-- Refresh Token 갱신 -->
    <update id="updateRefreshToken" parameterType="com.ssafy.model.entity.Social">
        UPDATE social_accounts
        SET refresh_token = #{refreshToken}
        WHERE provider_id = #{providerId}
    </update>

</mapper>
