<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.mapper.dao.FcmDao">
    <insert id="upsert">
        INSERT INTO FCM (user_id, token)
        VALUES (#{userId}, #{fcmToken})
            ON DUPLICATE KEY UPDATE
                                 token = VALUES(token)
    </insert>

    <delete id="delete">
        DELETE FROM FCM
        WHERE user_id = #{userId}
          AND token = #{fcmToken}
    </delete>

    <select id="selectTokensByUserId" resultType="String">
        SELECT token
        FROM FCM
        WHERE user_id = #{userId}
    </select>

    <select id="selectAllTokens" resultType="String">
        SELECT token
        FROM FCM
    </select>

    <select id="selectAllUserIds" resultType="Long">
        SELECT DISTINCT user_id
        FROM FCM
    </select>

    <select id="selectTokensByRoomId" resultType="String">
        SELECT DISTINCT f.token
        FROM FCM f
                 JOIN memberships m ON f.user_id = m.user_id
        WHERE m.room_id = #{roomId}
    </select>

    <select id="selectStudentIdsByRoomId" resultType="Long">
        SELECT DISTINCT m.user_id
        FROM memberships m
        WHERE m.room_id = #{roomId}
    </select>
</mapper>