<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.model.mapper.report.ReportMapper">
    <select id="findRoomName" resultType="string">
        SELECT room_name
        FROM rooms
        WHERE room_id = #{roomId}
    </select>

    <select id="findAllStudentsByRoomId" resultType="com.ssafy.controller.report.StudentDto">
        SELECT u.nickname as name
        FROM users u
                 JOIN memberships m ON u.user_id = m.user_id
        WHERE m.room_id = #{roomId}
    </select>

    <select id="findSubmittedStudentsByRoomId" resultType="com.ssafy.controller.report.StudentDto">
        SELECT u.nickname as name
        FROM users u
                 JOIN reports r ON u.user_id = r.user_id
        WHERE r.room_id = #{roomId}
    </select>

    <select id="findAllReportsByRoomId" resultType="com.ssafy.model.entity.Report">
        SELECT *
        FROM reports
        WHERE room_id = #{roomId}
    </select>

    <insert id="insertReport" parameterType="com.ssafy.model.entity.Report">
        INSERT INTO reports (room_id, user_id, no1, no2, no3, no4)
        VALUES (#{roomId}, #{userId}, #{no1}, #{no2}, #{no3}, #{no4})
    </insert>

    <select id="getReport" resultType="com.ssafy.model.entity.Report">
        SELECT *
        FROM reports
        WHERE room_id = #{roomId}
        AND user_id = #{userId}
    </select>

    <select id="existsRoom" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM rooms
            WHERE room_id = #{roomId}
        )
    </select>

</mapper>