HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Spring Boot - 로컬 환경에서 사용하는 환경 설정 파일은 제외
src/main/resources/application-dev.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

## Firebase Admin SDK
#src/main/resources/munbangu-4a922-firebase-adminsdk-fbsvc-2f5b0a99ec.json
#
## Properties files containing sensitive information
#src/main/resources/application-ENV.properties
